header {
  display: grid;
  grid-template-areas:
    "title  avatar"
    "links  avatar";
  grid-template-columns: 100% 0;
  border-bottom: 1px solid #e5e5e5;
}

@media only screen and (max-width: 37rem) {
  .avatar {
    display: none;
  }
}

@media only screen and (min-width: 37rem) {
  .avatar {
    display: block;
  }
  header {
    grid-template-columns: calc(100% - 14.5rem) 14.5rem;
  }
}

@media only screen and (min-width: 85.625rem) {
  header {
    grid-template-columns: 100%;
    grid-template-areas:
    "avatar"
    "title"
    "links";
    border: none;
  }
}


.title {
  grid-area: title;
}

.links {
  grid-area: links;
}

.avatar {
  grid-area: avatar;
  display: block;
  width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.link {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
}

.link img {
  margin-right: 0.5rem;
  width: 2.25rem;
  height: 2.25rem;
}
