body {
	background-color: #FAFAFA;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 
  Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", 
  "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: #595959;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --mdc-theme-primary: #5376E0;
  --mdc-theme-secondary: #364E96;
}

#app {
  width: 95%;
  display: grid;
  margin: 0 auto;
  padding: 1rem;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color:#222;
    font-weight: 500;
}

strong {
    color:#222;
    font-weight:500;
}

a {
    color: var(--mdc-theme-primary);
    text-decoration:none;
}

a:hover {
    color: var(--mdc-theme-secondary);
}

#corner {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}


.mdc-tab {
  font-family: inherit;
}

@media only screen and (min-width: 37.56rem) {
  #app {
    width: 85%;
    padding: 1.5rem;
  }
  #corner {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

@media only screen and (min-width: 73.5rem) {
  #app {
    width: 69.5rem;
    padding: 2rem;
    grid-template-columns: 14.5rem 51rem;
    grid-column-gap: 4rem;
  }
  #app > * {
    border: none;
  }
}
