body {
	background-color: #FAFAFA;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 
  Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", 
  "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: #595959;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --mdc-theme-primary: #5376E0;
  --mdc-theme-secondary: #364E96;
}

#app {
  width: 95%;
  display: grid;
  margin: 0 auto;
  padding: 1rem;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color:#222;
    font-weight: 500;
}

strong {
    color:#222;
    font-weight:500;
}

a {
    color: var(--mdc-theme-primary);
    text-decoration:none;
}

a:hover {
    color: var(--mdc-theme-secondary);
}

#corner {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

#tooltip {
  display: none;
  position: relative;
  right: -2rem;
  width: 5rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: .375rem;
  padding: 0.3125rem 0;

  opacity: 0.5;
  will-change: opacity;
  animation-name: hide;
  animation-duration: 0.25s;
}

@keyframes hide {
  from {
    opacity: 1;
    right: 0.5rem;
  }
  to {
    opacity: 0.5;
    right: -2rem;
  }
}

@keyframes peakaboo {
  from {
    opacity: 0.5;
    right: -2rem;
  }
  to {
    opacity: 1;
    right: 0.5rem;
  }
}


#corner:hover #tooltip {
  animation-name: peakaboo;
  animation-fill-mode: forwards;
}

@media(min-width: 1024px) {
  #corner {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

.mdc-tab {
  font-family: inherit;
}


@media only screen and (min-width: 37.56rem) {
  #app {
    width: 85%;
    padding: 1.5rem;
  }
  #tooltip {
    display: block;
  }
}

@media only screen and (min-width: 73.5rem) {
  #app {
    width: 69.5rem;
    padding: 2rem;
    grid-template-columns: 14.5rem 51rem;
    grid-column-gap: 4rem;
  }
  #app > * {
    border: none;
  }
}